{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h4><p>As an online food delivery service, we offer a wide array of fresh food.
                 We use the freshest ingredients in preparing our food to provide the best quality and taste. 
                 As an online food deliv­ery restaurant, we offer online order­ing with delivery right to your door.
                  We are committed to providing the highest quality meals and drink experience in your own home. 
                  Con­sumers can order via our web­site. </p></h4>
            <h4><p>We are a one-of-a-kind delivery food service and we offer traditional specialties which you can enjoy.
                 Try our delicious food today! </p></h4>
        </div>
    </div>
</div>
{% endblock content %}