{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>As an online food deliv­ery mar­ket­place, Online order­ing, pay­ment and occa­sion­al­ly, ful­fil­ment of orders. We utilise a hybrid mod­el which builds on our mar­ket­place her­itage (where restau­rants do their own deliv­ery) with logis­tics capa­bil­i­ty (for select restau­rants with­out their own deliv­ery capa­bil­i­ties). This mod­el ensures con­sumers have the widest pos­si­ble vari­ety of restau­rants to order from.</p>
            <p>Con­sumers can order via our mobile appli­ca­tions and our web­site. We derive our rev­enue prin­ci­pal­ly from the com­mis­sions we charge restau­rants based on the Gross Trans­ac­tion Val­ue (GTV) of the food ordered through our mar­ket­place and, to a less­er extent, from oth­er ser­vices such as online pay­ment ser­vices, sales of mer­chan­dise and pack­ag­ing, and pro­mot­ed place­ment. In addi­tion, we also derive rev­enue from deliv­ery fees charged to con­sumers on orders.</p>
        </div>
    </div>
</div>
{% endblock content %}